body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map-container {
  width: 100%; 
  /*height: 100vh;*/
  height: 100%;
}
#map {
  width: 100%; 
  height: 100vh;
}

body .container {
  margin-top: 20px;
}